/* Hakgyoansim 폰트 */
@font-face {
    font-family: 'Hakgyoansim';
    src: url('/fonts/hakgyoansim-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Hakgyoansim';
    src: url('/fonts/hakgyoansim-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  /* OAGothic 폰트 */
  @font-face {
    font-family: 'OAGothic';
    src: url('/fonts/OAGothic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OAGothic';
    src: url('/fonts/OAGothic-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  /* 폰트 클래스 */
  .hakgyoansim-font {
    font-family: 'Hakgyoansim', sans-serif;
  }
  
  .oagothic-font {
    font-family: 'OAGothic', sans-serif;
  }
  
  .oagothic-medium {
    font-family: 'OAGothic', sans-serif;
    font-weight: 500;
  }
  
  .oagothic-extrabold {
    font-family: 'OAGothic', sans-serif;
    font-weight: 800;
  }